body {
  background: #2f3640;
  font-family: sans-serif;
}
#calc-contain {
  display: flex;
  justify-content: center;
}
input[type="button"] {
  background-color: #7f8fa6;
  width: 50px;
  border: solid;
  border-color: #4cd137;
  height: 50px;
  margin: px;
}
input[type="text"] {
  display: flex;
  width: 209px;
  height: 30px;
  border: solid #7f8fa6;
  background-color: #7f8fa6;
}
input[value] {
  font-size: 18px;
  color: #2f3640;
}
